main {
    display: grid;
    grid-template-rows: auto auto 2fr;
    margin-top: 5%;
}

h1 {
    color: white;
    justify-self: center;
}

h2 {
    color: white;
    justify-self: center;
    border-bottom-style: solid;
    border-bottom-width: thin;
}

div {
    display: grid;
}

pre {
    color: white;
    justify-self: center;
    border-style: solid;
    text-align: left;
    border-radius: 2%;
    border-color: rgba(0, 0, 0, 0.3);
    background-color: rgba(0, 0, 0, 0.1);
    padding: 1%;
    width: auto;
}