main {
    display: grid;
    grid-template-rows: auto 2fr 1fr;
    margin-top: 5%;
}

h1 {
    display: grid;
    justify-self: center;
    color: white;
}

form {
    display: grid;
    align-self: center;
    justify-self: center;
    color: white;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.3);
    border-radius: 2%;
    border-width: thin;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 5%;
    width: min(25%);
}

#total_keys {
    justify-self: center;
}

#cache_pssh_label {
    margin-bottom: 2%;
}

#cache_pssh {
    margin-bottom: 2%;
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
}

#cache_submit {
    width: 25%;
    justify-self: center;
}

#cache_results_container {
    display: none;
    align-self: center;
    justify-self: center;
    justify-content: center;
    color: white;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.3);
    border-radius: 2%;
    border-width: thin;
    background-color: rgba(0, 0, 0, 0.1);
    width: 30%;
    margin-bottom: 3%;
}

