main {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: repeat(9, 1fr);
}

h1 {
    display: grid;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 4;
    grid-column-end: 7;
    justify-self: center;
}

form {
    display: grid;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 4;
    grid-column-end: 7;
}

p {
    display: none;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 8;
    margin-top: 10%;
    border-style: solid;
    border-image: linear-gradient(#191d59, #02004c);
    width: auto;
    height: auto;
    border-image-slice: 1;
    text-align: center;
}

#cache_pssh_label {
    display: grid;
    justify-self: center;
}