main {
    display: grid;
    grid-template-rows: 1fr auto 2fr;
}

h1 {
    margin-top: 5%;
    align-self: center;
    justify-self: center;
    color: white;
}

p {
    color: white;
    align-self: center;
    justify-self: center;
    text-align: center;
    border-style: solid;
    border-width: thin;
    border-radius: 2%;
    background-color: rgba(0, 0, 0, 0.1);
    border-color: rgba(0, 0, 0, 0.3);
    padding: 2%;
}

#remote_cdm {
    text-align: left;
    justify-self: right;
    margin-right: 2%;
    align-self: stretch;
}

#remote_vault {
    text-align: left;
    justify-self: left;
    align-self: stretch;
    margin-left: 2%;
}

#vault_results {
    grid-column: 1 / span 2; /* Span both columns */
    text-align: left;
    width: 10%;
    align-self: start;
}

.dlinks {
    color: grey;
}

div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}