main {
    display: grid;
    grid-template-rows: auto 2fr auto;
    grid-template-columns: 1fr 2fr 1fr;
    width: 100%;
    justify-items: center;
}

h1 {
    display: grid;
    grid-column-start: 2;
    grid-row-start: 1;
    grid-column-end: 3;
    grid-row-end: 2;
    align-self: flex-end;
}

div {
    display: grid;
    grid-column-start: 2;
    grid-row-start: 2;
    grid-column-end: 3;
    grid-row-end: 3;
    width: 100%;
}

input {
    width: 98%;
}

button {
    width: 50%;
    justify-self: center;
}

#keys_header {
    display: none;
}

#decrypt_results {
    display: none;
}

textarea {
    background-color: #afaeae;
    resize: none;
}