main {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 10;
    grid-row-start: 2;
    grid-row-end: 9;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: auto 1fr auto auto;
}

h1 {
    display: grid;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 4;
    grid-column-end: 7;
    align-self: end;
}

div {
    display: grid;
    grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start: 3;
    grid-column-end: 8;
}

textarea {
    padding: 8px;
    border: 1px solid #4b84bf7a;
    background: #b3b3b32e;
    color: white;
    border-radius: 3px;
}

textarea:hover {
    box-shadow: 0px 0px 13px 2px #2ca9c9;
    transition: 0.5s ease;
}

.lock-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('https://www.svgrepo.com/show/136946/lock.svg');
    background-size: cover;
    margin-right: 5px;
}

#keys_paragraph {
    display: none;
    margin-top: 15%;
    grid-column-start: 4;
    grid-column-end: 7;
    justify-self: center;
}

#decrypt_results {
    display: none;
    grid-column-start: 3;
    grid-column-end: 8;
    border-style: solid;
    border-image: linear-gradient(#191d59, #02004c);
    width: auto;
    height: auto;
    border-image-slice: 1;
    justify-self: center;
    text-align: center;
    padding: 5%;
}