main {
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 1fr;
}

div {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 4;
    grid-column-end: 7;
    justify-self: center;
    margin-top: 20%;
}

#login_button {
    width: 100%;
}