/* Body  */
body {
    background-color: slategrey;
}

/* Anchor links */
a {
    color: black;
}

/* Anchor links hover */
a:hover {
    color: darkslateblue;
}

/* Header */
header {
    text-align: center;
    background-color: lightslategrey;
}

/* Footer */
footer {
    text-align: center;
    background-color: lightslategrey;
}


