html, body {
    width: 100%;
    height: 100%;
    margin: 0; /* Reset default margin */
    padding: 0; /* Reset default padding */
}

body {
    display: grid;
    grid-template-rows: auto auto 2fr auto;
    margin: 0;
    padding: 0;
}

/* Set background image */
body::after {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1; /* Ensure the background is behind other content */
    background-image: url("../assets/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

header {
    display: grid;
    width: 100%;
    padding-bottom: 0.2%;
    justify-content: center;
    align-items: center;
    font-size: xxx-large;
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
    border-bottom-style: solid;
    border-width: thin;
    border-color: rgba(0, 0, 0, 0.3);
}

nav {
    display: flex;
    justify-content: space-evenly;
    justify-self: center;
    align-self: center;
    margin-top: 1%;
    border-style: solid;
    border-width: thin;
    border-color: rgba(0, 0, 0, 0.3);
    border-radius: 2%;
    background-color: rgba(0, 0, 0, 0.1);
    width: 50%;
}

a {
    text-decoration: none;
    color: white;
}

footer {
    display: grid;
    height: 100%;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    background-color: rgba(0, 0, 0, 0.1);
    align-self: end;
    border-top-style: solid;
    border-top-color: rgba(255, 255, 255, 0.1);
    border-width: thin;
}

#flink1 {
    display: grid;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-end: 2;
    justify-self: center;
    align-self: center;
}

#flink2 {
    display: grid;
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-end: 3;
    justify-self: center;
    align-self: center;
}