<!-- Doctype -->
<!DOCTYPE html>
<html lang="en">

<!-- Heading -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CDRM-Project 2.0</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    {% block css %}
    {% endblock %}
    <script src="{{ url_for('static', filename='js/functions.js') }}"></script>
    {% block js %}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/favicon.png') }}">
</head>

<!-- Body -->
<body>

    <!-- Header -->
    <header>
        CDRM-Project 2.0
    </header>

    <!-- Navbar -->
    <nav>
        <a id="main_href" class="navi" href="{{ url_for('main_page') }}">Home</a>
        <a id="cache_href" class="navi" href="{{ url_for('cache_page') }}">Cache</a>
        <a id="api" class="navi" href="{{ url_for('api_page') }}">API</a>
        <a id="extension" class="navi" href="{{ url_for('extension_page') }}">Extension</a>
        <a id="devine" class="navi" href="{{ url_for('devine_page') }}">Devine</a>
        <a id="faq_href" class="navi" href="{{ url_for('faq_page') }}">FAQ</a>
        <a id="login_href" class="navi" href="{{ url_for('login_page') }}">Login</a>
    </nav>

    <!-- Main body -->
    {% block main_body %}
    <!-- Must specify <main> concurrent templates, this is to make CSS Grid easier. -->
    {% endblock %}

    <!-- Footer -->
    <footer>
        <a id="flink1" href="https://cdm-project.com/">Brought to you by the CDM-Project</a>
        <a id="flink2" href="https://cdm-project.com/TPD94/CDRM-Project">View this sites source code</a>
    </footer>

</body>
</html>