<!-- Doctype -->
<!DOCTYPE html>
<html lang="en">

<!-- Heading -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CDRM-Project 2.0</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    {% block css %}
    {% endblock %}
    <script src="{{ url_for('static', filename='js/functions.js') }}"></script>
    {% block js %}
    {% endblock %}
</head>

<!-- Body -->
<body>

    <!-- Sidebar -->
    <!--
    <nav>
        <a class="icons" href="{{ url_for('main_page') }}"> <img src="{{ url_for('static', filename='assets/home-modern.svg') }}"> </a>
        <a class="icons " href="{{ url_for('cache_page') }}"> <img src="{{ url_for('static', filename='assets/database-search.svg') }}"> </a>
        <a class="icons " href="{{ url_for('faq_page') }}"> <img src="{{ url_for('static', filename='assets/help-circle.svg') }}"> </a>
        <a class="icons" href="{{ url_for('login_page') }}"> <img src="{{ url_for('static', filename='assets/login.svg') }}"> </a>
    </nav>
    -->

    <!-- Header -->
    <header>
        <a href="{{ url_for('main_page') }}"> <img class="header_logo" src="{{ url_for('static', filename='assets/logo.png') }}"> </a>
    </header>

    <!-- Navbar -->
    <nav>
        <a class="navi" href="{{ url_for('main_page') }}">Home</a>
        <a class="navi" href="{{ url_for('cache_page') }}">Cache</a>
        <a class="navi" href="{{ url_for('faq_page') }}">FAQ</a>
        <a class="navi" href="{{ url_for('login_page') }}">Login</a>
    </nav>

    <!-- Main body -->
    {% block main_body %}
    <!-- Must specifcy <main> concurrent templates, this is to make CSS Grid easier. -->
    {% endblock %}

    <!-- Footer -->
    <footer>
        <a href="https://cdm-project.com/">Brought to you by the CDM-Project</a>
        <a href="https://cdm-project.com/">View this sites source code</a>
    </footer>

</body>
</html>