<!-- Extend the base HTML template -->
{% extends "base.html" %}

<!-- Extend CSS to add CSS for particular page -->
{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/cache.css') }}">
{% endblock %}

<!-- Main body block -->
{% block main_body %}

<!-- Heading -->
<h1 id="cache_inputs">Check the cache</h1>

<!-- Input form for PSSH -->
<form id="cache_form">
    <label id="cache_pssh_label" for="cache_pssh">PSSH:</label>
    <br>
    <input type="text" id="cache_pssh" name="cache_pssh">
    <br>
    <input type="submit" id="cache_submit" name="cache_submit" value="Submit">
</form>

<!-- Table for results -->
<table id="cache_results">
    <!--
        for key in split lines kn keys
        <tr>
            <td>key</td>
        </tr>
    -->
</table>


<!-- End main body block -->
{% endblock %}