<!-- Extend the base HTML template -->
{% extends "base.html" %}

<!-- Extend CSS to add CSS for particular page -->
{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/cache.css') }}">
{% endblock %}

<!-- Extend JS to add JS for particular page -->
{%  block js %}
<script src="{{ url_for('static', filename='js/cache.js') }}"></script>
{% endblock %}

<!-- Main body block -->
{% block main_body %}

<!-- Main -->
<main>

    <!-- Heading -->
    <h1>Check the cache</h1>

    <!-- Input form for PSSH -->
    <form>
        <p id="total_keys">Total Keys: {{ cache_page_key_count }}</p>
        <label id="cache_pssh_label" for="cache_pssh">PSSH:</label>
        <br>
        <input type="text" id="cache_pssh" name="cache_pssh">
        <br>
        <input type="button"  onclick="sendCache()" id="cache_submit" name="cache_submit" value="Submit">
    </form>

    <div id="cache_results_container">
        <p id="results_paragraph">
            RESULTS
        </p>
        <p id="cache_results">

        </p>
    </div>
</main>

<!-- End main body block -->
{% endblock %}