<!-- Extend the base HTML template -->
{% extends "base.html" %}

<!-- Extend CSS to add CSS for particular page -->
{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/devine.css') }}">
{% endblock %}

<!-- Extend JS to add JS for particular page -->
{%  block js %}
<script src="{{ url_for('static', filename='js/devine.js') }}"></script>
{% endblock %}

<!-- Main body block -->
{% block main_body %}
<main>

<h1>Devine</h1>
<p>
    <a class="dlinks" href="https://github.com/devine-dl/devine">Devine</a> is a Modular Movie, TV, and Music Archival Software, service scripts can be found on <a class="dlinks" href="https://cdm-project.com/explore/repos">The CDM-Project</a>
    <br>
    Along with the extension, CDRM-Project is compatible with devine's remote CDM option out of the box, add this to your devine.yaml
</p>
<div>
    <p id="remote_cdm">remote_cdm:<br />&nbsp;&nbsp;&nbsp; - name: "CDRM_Project_API"<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; device_type: ANDROID<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; system_id: {{ cdm_version }}<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; security_level: 3<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; host: "<span id='currentURL'></span>"<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; secret: "CDRM-Project"<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; device_name: "CDM"</p>
    <p id="remote_vault">key_vaults:<br />&nbsp;&nbsp;&nbsp; - type: API<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; name: "CDRM-Vault"<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; token: ""<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; uri: "<span id="currentURI"></span>/vault"</p>
    <p id="vault_results">Devine keys cached: {{ devine_key_count }}<br>Unique services cached: {{ devine_service_count }}</p>
</div>
</main>

<!-- End main block -->
{% endblock %}