<!-- Extend the base HTML template -->
{% extends "base.html" %}

<!-- Extend CSS to add CSS for particular page -->
{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/faq.css') }}">
{% endblock %}

<!-- Main body block -->
{% block main_body %}

<!-- Main -->
<main>

<!-- Heading -->
<h1>FAQ</h1>

<!-- Question container -->
<div id="questions">

    <details class="details_box">
        <summary class="question">
            What is this site?
        </summary>
        <p>
            An open source web application built with python/flask to decrypt L3 Widevine protected content as well as an alternative to GetWVKeys.
        </p>
    </details>

    <details class="details_box">
        <summary class="question">
            Whoa redesign, what happened?
        </summary>
        <p>
            While the old site was pretty cool, it wasn't written by me - It was code leaked from an old version of GetWVKeys
            <br><br>
            I thought it was about time that changed.
        </p>
    </details>

    <details class="details_box">
        <summary class="question">
            Need help?
        </summary>
        <p>
            Join the discord! https://discord.gg/CDRM-Project
        </p>
    </details>

</div>

</main>
<!-- End main block -->
{% endblock %}