<!-- Extend the base HTML template -->
{% extends "base.html" %}

<!-- Extend CSS to add CSS for particular page -->
{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/faq.css') }}">
{% endblock %}

<!-- Main body block -->
{% block main_body %}

<!-- Main -->
<main>

<!-- Heading -->
<h1>FAQ</h1>

<!-- Question container -->
<div id="questions">

    <details>
        <summary class="question">
            Whoa redesign, what happened?
        </summary>
        <p>
            If you weren't aware before, the old version of CDRM-Project was actually
            old code leaked from getwvkeys.
            <br><br>
            This site has been built from the ground up using HTML/CSS/JS/Python
        </p>
    </details>

</div>

</main>
<!-- End main block -->
{% endblock %}