<!-- Extend the base HTML template -->
{% extends "base.html" %}

<!-- Extend CSS to add CSS for particular page -->
{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

<!-- Extend JS to add JS for particular page -->
{%  block js %}
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}

<!-- Main body block -->
{% block main_body %}

<!-- Main -->
<main>

    <!-- Heading -->
    <h1>Send Widevine license request</h1>

    <!-- Forms for entering widevine license request information -->
    <div id="decrypt_form">
        <p>PSSH:</p>
        <textarea id="index_pssh" rows="1" cols="1"></textarea>

        <p>License URL:</p>
        <textarea id="license_url" rows="1" cols="1"></textarea>

        <p>Headers:</p>
        <textarea id="headers" rows="5" cols="1"></textarea>

        <p>JSON:</p>
        <textarea id="json" rows="5" cols="1"></textarea>

        <button onclick="sendDecryption()" id="decrypt_button" type="button"><span class="lock-icon"></span>Decrypt!</button>
    </div>

    <p id="keys_paragraph">Keys</p>
    <p id="decrypt_results"></p>
</main>

{% endblock %}