<!-- Extend the base HTML template -->
{% extends "base.html" %}

<!-- Main body block -->
{% block main_body %}

<!-- Forms for entering widevine license request information -->
<form>
    <label for="index_pssh">PSSH:</label>
    <input type="text" id="index_pssh" name="pssh">
    <br>
    <label for="license_url">License URL:</label>
    <input type="text" id="license_url" name="licemse_url">
    <br>
    <label for="headers">Headers:</label>
    <input type="text" id="headers" name="headers">
    <br>
    <label for="json">JSON: </label>
    <input type="text" id="json" name="json">
    <br>
    <input type="submit" id="submit">
</form>

{% endblock %}