<!-- Extend the base HTML template -->
{% extends "base.html" %}

<!-- Extend CSS to add CSS for particular page -->
{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

<!-- Extend JS to add JS for particular page -->
{%  block js %}
<script src="{{ url_for('static', filename='js/login.js') }}"></script>
{% endblock %}

<!-- Main body block -->
{% block main_body %}
<main>

    <div id="login_form">
        <label for="username" id="username_label">Username</label>
        <br>
        <input type="text" id="username">
        <br>
        <label for="password" id="password_label">Password</label>
        <br>
        <input type="text" id="password">
        <br>
        <div id="register_buttons">
            <input id="login_button" onclick="sendLogin()" type="button" name="submit" value="Log in">
            <input id="register_button" onclick="sendRegister()" type="button" value="Register">
        </div>
        <p id="error_message_holder">Error message holder</p>
    </div>

</main>

<!-- End main block -->
{% endblock %}